@import url(https://fonts.googleapis.com/css?family=Fira+Mono);

body { 
    background-color: black;
    color: lime;
    
}

pre {
    font-family: 'Fira Mono', Monaco, Monospace;
    font-size:9pt;
}

a {
    font-family: 'Fira Mono', Monaco, Monospace;
    color: lime;
    font-size:9pt;
}

a:link { 
    color: lime;
}
