@import url(https://fonts.googleapis.com/css?family=Fira+Mono);

body { 
    background-color: black;
    color: lime;
    background-image: url('loki-pngwolf.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 200px 50%;
    background-size:100px;
}

pre {
    font-family: 'Fira Mono', Monaco, Monospace;
    font-size:9pt;
    margin:15px 30px 0 0;
}

a {
    font-family: 'Fira Mono', Monaco, Monospace;
    color: lime;
    font-size:9pt;
}

a:link { 
    color: lime;
}
